HELP.md
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
src/main/resources/application-devdb.yaml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
/out/
/.idea

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

